body {
    background-color: #765898;
    font-family:Arial, Helvetica, sans-serif
}
h1{
    color: 	#8bd450;
    text-align: center
}
.assign{
    background-color: #8bd450;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign img {
    width: 200px;
    padding: 10px;
}